body {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif; 
}

main {
  
}

section {
  display: flex;
  justify-content: space-around;
}

div {
  display: inline-block;
  width: 33.3%;
  /* border: 5px solid black; */
}

h3 {
  border-bottom: 3px solid black;
  padding-bottom: 1em;
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  padding: .3em;
  border-bottom: 1px solid black;
}